html, body { 
height: 100%;
width: 100%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: red!important;
	color:white!important;
}

.home-section{
	height: auto!important;
	min-height: 100%;
	overflow:hidden;
	padding-top: 50px;
	background:url(../img/home.jpg) no-repeat center;
	background-size: cover;
	text-align: center; 
	color: white; 
	text-shadow: 2px 1px 0 rgba(0,0,0,0.7);
}

.home-section h1{
	font-family: 'Oswald', Arial, Verdana; 
	font-size: 60px; 
	color:white;
	text-transform: uppercase;
}

.home-section h2{
	font-family: 'Roboto', Arial, Verdana; 
	font-size: 20px; 
	color:white;
}

.about-section{
	height: auto!important;
	min-height: 100%;
	overflow:hidden;
	padding-top: 50px;
}

.projects-section{
	height: auto!important;
	min-height: 100%;
	overflow:hidden;
	padding-top: 50px;
}

.contact-section{
	height: auto!important;
	min-height: 100%;
	overflow:hidden;
	padding-top: 50px;
}