<!--<div id="site_info">
	<h1 id="site_title">{{ settings:site_name }}</h1>
	<p id="site_slogan">{{ settings:site_slogan }}</p>
</div>
-->
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
   <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    {{theme:css file="template.css"}}
    {{theme:css file="bootstrap.min.css"}}
    {{theme:partial name="scripts"}}

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

